body {
  padding: 0;
  margin: 0;
  background-color: antiquewhite;
}
.nav ul li {
  list-style-type: none;
  display: inline-block;
  padding-right: 25px;
}
.nav ul {
  float: right;
}
.nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 15px;
  font-weight: 800;
  font-family: "Courier New", Courier, monospace;
}
.nav ul li:hover {
  background-color: lightblue;
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 5px;
  
}
.comp {
  float: left;
}
.comp img {
  width: 40px;
}
.comp a {
  font-size: 25px;
  font-weight: 800;
}
#emp {
  font-size: 14px;
  position: absolute;
  top: 45px;
  left: 100px;
  font-weight: 800;
  font-style: italic;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
#did {
  position: absolute;
  left: 350px;
  bottom: -675px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: black;
  background-color: cadetblue;
  border-radius: 0 60px 0 60px;
  padding: 18px;
  font-style: italic;
}
.cont-1 {
  padding-right: 50px;
  padding-left: 50px;
  padding-top: 10px;
  background-color: antiquewhite;
  height: 53px;
}
.cont-2img {
  background-image: url(/images/back\ grd\ img.jpg);
  height: 500px;
  background-size: cover;
  opacity: 0.4;
}
#cont-2txt a {
  color: whitesmoke;
  font-size: 55px;
  font-weight: 600;
}
#cont-2txt p {
  text-align: center;
  font-size: 28px;
  color: white;
}
.cont-2 {
  background: black;
}
#cont-2txt {
  position: absolute;
  top: 300px;
  left: 360px;
}
.first-sec img {
  width: 33.3%;
  float: left;
  min-height: 250px;
  max-height: 200px;
}
.sect-1 {
  text-align: center;
  font-size: 40px;
  color: black;
  font-weight: 600;
  font-style: italic;
  margin-top: 300px;
  margin-bottom: 100px;
}
.sect2-b img {
  width: 300px;
  height: 360px;
  margin-bottom: 0;
  background-size: cover;
}
.sect-2 {
  display: grid;
  grid-template-columns: auto auto;
  width: 600px;
  margin: auto auto;
  column-gap: 0;
}
.sect2-a a {
  color: black;
  font-size: 13px;
  display: block;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0 10px 0 10px;
}
.sect2-a h3 {
  color: black;
  text-align: center;
}
.sect2-a {
  background: lightgrey;
}
.sv1 img {
  width: 70px;
  min-width: 70px;
  max-width: 70px;
}
.services {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 1000px;
  margin: auto auto;
  column-gap: 20px;
  margin-top: 60px;
  background-color: cadetblue;
  padding-bottom: 20px;
  padding-top: 30px;
  border-radius: 50px 0 50px 0;
}
.sv1 h3 {
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
footer {
  margin-top: 50px;
  background-color: black;
}
.foot {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-left: 190px;
  padding-right: 80px;
  padding-top: 50px;
}
.ft li {
  list-style-type: none;
  text-align: center;
}
.ft li a {
  text-decoration: none;
  color: azure;
  font-size: 15px;
  line-height: 1.9;
}
.ft li h3 {
  color: azure;
}
.ft li h3:hover {
  color: gray;
}
.ft li a:hover {
  color: grey;
}
@media only screen and (max-width:700px) {
  .nav ul li a{
    color: black;
  }
  header {
    width:100%;
    height: 190px;
    margin-top: 0%;
    }
  #emp {
    position: absolute;
    top: 140px;
    font-size: 12px;
  }
  .nav ul {
    float: right;
  }
.nav ul li{
  display:block;
  margin-top: 11px;
  margin-left: 15px;
}
.comp img {
  width: 40px;
  position: absolute;
  top: 100px;
}
.comp a {
  font-size: 25px;
  font-weight: 800;
  position: absolute;
  top: 110px;
  right:490px;
}
.nav ul li:hover {
  background-color: lightblue;
  border-radius: 5px;
  padding: 5px 5px;
  margin-left: 10px
}
#did {
  position: absolute;
  left: 120px;
  bottom: -800px;
}
.services{
  display: grid;
  grid-template-columns: auto auto auto;
  width: 682px;
  margin: auto auto;
  column-gap: 10px;
  margin-top: 60px;
  background-color: cadetblue;
  padding-bottom: 10px;
  padding-top: 10px;
  border-radius: 50px 0 50px 0;
}
.foot {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding-left: 30px;
  padding-right: 25px;
  padding-top: 50px;
}
/*sv1 h3 {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}*/
}
.carousel {
  width: 80vw;
  height: 250px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  background-size: cover;
}


/*.carousel:hover .controls {
  opacity: 1;
}*/

.controls {
  display: flex;
  position: absolute;
  top: 50%;
  left: 0;
  justify-content: space-between;
  width: 100%;
  z-index: 99999;
  transition: all ease 0.5s;
}

.control {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  /*opacity: 0.5;*/
  transition: ease 0.3s;
  cursor: pointer;
}

/*.control:hover {
  opacity: 1;
}*/

.slides {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  width: 100%;
  transition: 1s ease-in-out all;
}

.slide {
  min-width: 100%;
  min-height: 250px;
  height: auto;
}
